#about-bg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

#wrapper {
    padding-bottom: 0px;
}

#content {
    z-index: 1;
    position: absolute;
    top: 100px;
    width: 100%;
}

h1 {
    background-color: rgba(0,0,0,0.75);
    font-family: SlimJoe;
    font-size: 60px;
    margin: 0 auto;
    width: 60%;
    padding: 60px 60px 10px 60px;
}

#description {
    font-family: Jaapokki;
    font-size: 20px;
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;
    width: 60%;
    padding: 10px 60px 60px 60px;
}

nav {
    z-index: 10;
}