/* fonts */
@font-face {
	font-family: Jaapokki;
	src: url("../fonts/Jaapokki-Regular.otf") format("opentype");
}

@font-face {
	font-family: Jaapokki-subtract;
	src: url("../fonts/Jaapokkisubtract-Regular.otf") format("opentype");
}

@font-face {
	font-family: SlimJoe;
	src: url("../fonts/SlimJoe.otf") format("opentype");
}

@font-face {
	font-family: BigJohn;
	src: url("../fonts/BigJohn.otf") format("opentype");
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body{
	background-color: #000;
	z-index: 0;
	color: #fff;
	text-align: center;
}

/* navigation */

nav {
	z-index: 10;
	font-family: Jaapokki;
	color: #fff;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	background-color: #000;
	background: rgba(0,0,0,.65);
	z-index: 1;
	border-bottom: solid 1px #727272;
	min-width: 1000px;
	line-height: 60px;
}

#nav-title {
	float: left;
	font-family: Jaapokki-subtract;
	font-size: 25px;
	padding-left: 40px;
	padding-top: 3px;
}

.slim {
	font-family: SlimJoe;
	font-size: 23px;
}

.color_emph {
	color: #ff0066;
}

#nav-title a:hover {
	opacity: 0.8;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#nav-menu {
	padding-right: 40px;
}

nav ul {
	float: right;
	margin-top: 0px;
	display: table-row;
	font-size: 17px;
	list-style-type: none;
	text-align: right;

}

nav li {
	display: table-cell;
	padding: 0px 18px 0px 18px;
}

nav a:link, nav a:visited{
	color: #fff;
	text-decoration: none;
}

nav li:hover {
	background-color: #727272;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}


/* main content */
#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 70px;
}

/* footer */

footer {
	font-size: 13px;
	font-family: SlimJoe;
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin: 0 auto;
	z-index: 2;
	text-align: center;
}

#facebook-icon, #linkedin-icon {
	height: 2em;
	width: 2em;
}

#github-icon {
	height: 2em;
	width: 2.5em;
	padding-left: 10px;
	padding-right: 10px;
}