#wrapper {
    padding-top: 180px;
    font-family: Jaapokki;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
}

h1 {
    font-family: SlimJoe;
    font-size: 70px;
    line-height: 20%;
}

#subtitle {
    padding-bottom: 20px;
}

#submit-random-button:link, #submit-random-button:visited {
    color: #fff;
    font-family: Jaapokki;
    font-size: 25px;
    width: 135px;
    height: 60px;
    border-radius: 5px;
    margin: 10px;
    background-color: #000;
    border: 1px #ff0066 solid;
    padding: 10px 45px 10px 45px;
    text-decoration: none;
}

#submit-random-button:hover {
    cursor: pointer;
    background-color: #ff0066;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

