#wrapper {
    padding-top: 100px;
    font-family: Jaapokki;
    font-size: 20px;
    padding-bottom: 150px;
}

h1, h2 {
    font-family: SlimJoe;
}

h1 {
    font-size: 70px;
    line-height: 20%;
}


h2 {
    font-size: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 60px;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 30%;
}

form {
    width: 40%;
    margin: 0 auto;
}

.left, .right {
    text-align: justify;
    padding: 0px 20px 20px 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-floats {
    clear: both;
    padding: 10px;
}

#submit-random-button, #submit-form-button {
color: #727272;
font-family: SlimJoe;
 font-size: 25px;
 width: 135px;
 height: 60px;
 border-radius: 5px;
 margin: 10px;
 background-color: rgba(255, 255, 255, 0.8); 
}


